#jumbotronHeader {
  text-align: center;
  background-color: white;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron h1 {
  font-family: Eurostile, sans-serif;
}

.jumbotron p {
  font-family: Europa, serif;
  font-size: 22px;
}

#aboutMeTextEnd {
    margin-bottom: 100px;
}

.aboutMeBox {
  width: 100%;
  background-color: #0081e7;
  border: 1px solid #0081e7;
}

.aboutMeBox h2 {
  max-width: 500px;
  margin-top: 100px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fefefe;
  font-family: Eurostile, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.aboutMeBox p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
  color: #fefefe;
  font-family: europa, serif;
  font-size: 20px;
  line-height: 30px;
}

#aboutMe {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  color: #fefefe;
}

#aboutMeLink {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  color: #fefefe;
  font-size: 17px;
  font-family: Eurostile, serif;
}

#aboutMe ul {
  width: 30%;
  margin:0 auto;
  text-align: left;
  font-family: Europa, serif;
  font-size: 16px;
}

.hidden {
  display:none;
}

.unhidden {
  display:block;
}

.aboutMeBox a {
  color:lightgrey;
  text-decoration: underline;
}

.jumbotron img {
  border-radius: 50%;
  margin-top: 40px;
}

.myProjects {
}

.myProjects h2 {
  font-size: 35px;
  padding-top: 70px;
  font-weight: bold;
  font-family: Eurostile, sans-serif;
  text-align: center;
}

.projectBox {
  font-family: europa, serif;
  max-width: 292.5px;
}

.wellSize {
  padding:0;
  text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:  flex;
}

.well img {
  border-radius: 75%;
}

.well p {
  font-size: 16px;
  margin-top: 20px;
}

.well ul {
  width: 40%;
  margin:0 auto;
  text-align: left;
}

.myProjects h2 {
  margin-bottom: 20px;
}

.footerText {
  font-family: europa, sans-serif;
  font-size: 15px;
  text-align: right;
}

.emailIcon {
  width: 35px;
  float:right;
  margin-left: 10px;
  padding-bottom: 10px;
}
